@import "bootstrap";
@import "bootstrap/theme";

body {
  background-color: black;
  color: white;
}

h2 {
  font-family : "Molengo";
}

h2 .sub {
  color: #808080;
}

header {
  a {
    color: white;
  }

  a:hover, a:focus {
    color: white;
    text-decoration: none;
  }

  .pages {
    padding-top: 25px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #404040;
  margin: 1em 0;
  padding: 0;
}

p {
  color: white;
  font-family: Tahoma;
}
